<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Blog</title>
</head>
<body>
<h3>view Blog</h3>
<p>
    <a href="/blogs">Back to list blog</a>
</p>
<div>
    <div>
        <label>id:</label>
        <label th:text="${blog.getId()}"></label>
    </div >
    <div>
        <label>Title:</label>
        <label th:text="${blog.getTitle()}"></label>
    </div>
    <div>
        <label>context:</label>
        <label th:text="${blog.getContent()}"></label>
    </div>
    <div>
        <label>Category:</label>
        <label th:text="${blog.category.getName()}"></label>
    </div>
</div>

</body>
</html>