<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Category</title>
</head>
<body>
    <p>
        <a href="/create-category">
            create a new category
        </a>
    </p>
    <h1>List category</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>View</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="category:${categories}">
            <tr>
                <td th:text="${category.getId()}"></td>
                <td th:text="${category.getName()}"></td>
                <td><a th:href="@{/category/{id}/view(id=${category.getId()})}">view</a></td>
                <td><a th:href="@{/category/{id}/update(id=${category.getId()})}">update</a> </td>
                <td><a th:href="@{/category/{id}/delete(id=${category.getId()})}">delete</a> </td>
            </tr>
        </th:block>
    </table>

</body>
</html>