<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update category</title>
</head>
<body>
<h1>Update category</h1>
<p>
    <a href="/categories">Back to category list</a>
</p>
<th:block th:if="${success}">
    <p th:text="${success}"></p>
</th:block>
<form th:action="@{/update-category}" th:object="${category}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>